@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --blue-one: #2556ba;
  --blue-two: #6086d3;
  --blue-theree: #b9cdf6;
  --blue-four: #f6f7fb;
  --text-color: #132d62;
}

* {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue-four);
  height: 200vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 5em 2em;
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--blue-one);
  padding: 1.2em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo {
  color: var(--blue-four);
  font-size: 1.2em;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar .container .hamburger {
  cursor: pointer;
  display: block;
}

.navbar .container .hamburger .bar {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue-four);
}

.navbar .container .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar .container .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar .container .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar .container nav {
  position: fixed;
  display: flex;
  right: -100%;
  top: 67px;
  gap: 0;
  flex-direction: column;
  background-color: var(--blue-two);
  width: 80%;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  z-index: 99999;
}

.navbar .container nav.active {
  right: 0;
}

.navbar .container nav ul li {
  margin: 50px;
}

.navbar .container nav ul li a {
  color: var(--blue-four);
}

/* End Navbar */

/* Home */
.home {
  margin-top: 5em;
  text-align: center;
}

.home .home-text h1 {
  color: var(--blue-one);
  font-size: 2.3em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.home .home-text p {
  color: var(--text-color);
  font-size: 0.9em;
  margin-bottom: 2em;
}

.home .home-text a {
  display: inline-block;
  padding: 0.8em 0.9em;
  border-radius: 10px;
  text-align: center;
  color: var(--blue-four);
  background-color: var(--blue-one);
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
}

.home .home-text a:hover {
  background-color: var(--text-color);
}

.home .home-img {
  margin-top: 5em;
}

.home .home-img img {
  width: 350px;
}
/* End Home */

/* About */
.about h2 {
  text-align: center;
  color: var(--blue-one);
  margin-bottom: 3em;
  font-size: 1.8em;
}

.about .about-text h3 {
  color: var(--blue-two);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.about .about-text p {
  color: var(--text-color);
  font-size: 1em;
  margin-bottom: 1em;
}

.about .about-text ul {
  line-height: 25px;
}

.about .about-leader {
  margin-top: 2em;
}

.about .about-leader h3 {
  font-size: 1.5em;
  color: var(--blue-two);
  margin-bottom: 1em;
}

.about .about-leader .img-leader {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.about .about-leader .img-leader img {
  border-radius: 5px;
  width: 200px;
}

.about .about-leader .text-info .biodata h4 {
  font-size: 1.2em;
  color: var(--text-color);
  margin-bottom: 1em;
}

.about .about-leader .text-info .biodata p {
  color: var(--text-color);
  margin-bottom: 0.5em;
}

.about .about-leader .text-info .biodata ul {
  color: var(--text-color);
  margin-bottom: 2em;
  line-height: 27px;
}
/* End About */

/* Layanan */
.layanan h2 {
  text-align: center;
  color: var(--blue-one);
  margin-bottom: 3em;
  font-size: 1.8em;
}

.layanan .layanan-left .moto h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-left .moto p {
  color: var(--text-color);
  margin-bottom: 1em;
}

.layanan .layanan-left .moto a {
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--blue-four);
  background-color: var(--text-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9em;
  margin-bottom: 2em;
}

.layanan .layanan-left .moto a:hover {
  background-color: var(--blue-theree);
  color: var(--text-color);
  margin-bottom: 2em;
}

.layanan .layanan-left .accordion {
  width: 100%;
  margin-bottom: 1.5em;
}

.layanan .layanan-left .accordion a {
  color: var(--blue-four);
}

.layanan .layanan-left .accordion .accordion-item {
  background-color: #132d62;
  color: var(--blue-four);
  margin: 1em 0;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-header::after {
  content: '\002B';
  font-size: 2em;
  position: absolute;
  right: 1em;
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-header.active::after {
  content: '\2212';
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-body .accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.layanan .layanan-left .accordion h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-right h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-right .transportasi-rute .rute-jadwal a {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 5px;
}

.layanan .layanan-right .transportasi-rute .rute-jadwal {
  margin-bottom: 2em;
}

.layanan .layanan-right .transportasi-rute .rute-map {
  margin-bottom: 2em;
}

iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.layanan .layanan-right .transportasi-rute .rute-book h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-right .transportasi-rute .rute-book .book {
  margin-bottom: 1em;
}

.layanan .layanan-right .transportasi-rute .rute-book .book h5 {
  color: var(--text-color);
  font-size: 0.95em;
  font-weight: 500;
}

.layanan .layanan-right .transportasi-rute .rute-book .book a {
  color: red;
  padding-top: 1em;
}

/* Layanan */

/* Berita */
.berita h2 {
  text-align: center;
  color: var(--blue-one);
  margin-bottom: 3em;
  font-size: 1.8em;
}

.berita .category-berita {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.berita .category-berita .berita-card {
  background-color: var(--blue-one);
  width: 80%;
  border-radius: 5px 5px 0 0;
}

.berita .category-berita .berita-card .card-up img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.berita .category-berita .berita-card .card-text {
  padding: 20px;
}

.berita .category-berita .berita-card .card-text .judul-berita {
  color: var(--blue-four);
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.berita .category-berita .berita-card .card-text .penulis-berita {
  color: var(--text-color);
  font-size: 0.85em;
  margin-bottom: 1.5em;
}

.berita .category-berita .berita-card .card-text .info-berita {
  color: var(--blue-four);
  font-size: 0.95em;
  margin-bottom: 2em;
}

.berita .category-berita .berita-card .card-text a {
  display: inline-block;
  padding: 0.8em 0.8em;
  background-color: var(--blue-four);
  border-radius: 5px;
  font-size: 0.85em;
  color: var(--text-color);
}
/* Berita */
