@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --blue-one: #2556ba;
  --blue-two: #6086d3;
  --blue-theree: #b9cdf6;
  --blue-four: #f6f7fb;
  --text-color: #132d62;
}

* {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue-four);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

section {
  padding: 5em 2em;
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--blue-one);
  padding: 1.2em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .container .logo {
  color: var(--blue-four);
  font-size: 1.2em;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar .container nav {
  display: none;
}

.navbar .container nav.menu-btn {
  display: block;
}

.navbar .container .mobile-menu {
  font-size: 1.7em;
  color: var(--blue-four);
}

.navbar .container nav .mobile-menu-exit {
  font-size: 1.7em;
  color: var(--blue-four);
}

.navbar .container nav {
  background-color: var(--blue-two);
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em;
  width: 63%;
  height: 100vh;
}

.navbar .container nav ul li a {
  color: var(--blue-four);
  padding: 0.5em;
  text-decoration: none;
  display: block;
  font-size: 1em;
  transition: all 0.5s ease;
}

.navbar .container nav ul {
  margin-top: 2.5em;
}

.navbar .container nav ul li a:hover {
  color: var(--lightgreen-color);
}

.navbar .container nav .mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.navbar .container nav ul.secondary-nav {
  margin-top: 2em;
}

/* End Navbar */

/* Home */
.home {
  margin-top: 5em;
  text-align: center;
}

.home .home-text h1 {
  color: var(--blue-one);
  font-size: 2.3em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
}

.home .home-text p {
  color: var(--text-color);
  font-size: 0.9em;
  margin-bottom: 2em;
  line-height: 20px;
}

.home .home-text a {
  display: inline-block;
  padding: 0.8em 0.9em;
  border-radius: 10px;
  text-align: center;
  color: var(--blue-four);
  background-color: var(--blue-one);
  font-size: 0.9em;
  transition: all 0.3s ease-in-out;
}

.home .home-text a:hover {
  background-color: var(--text-color);
}

.home .home-img {
  margin-top: 5em;
}

.home .home-img img {
  width: 80%;
}
/* End Home */

/* About */
.about h2 {
  text-align: center;
  color: var(--blue-one);
  margin-bottom: 3em;
  font-size: 1.8em;
}

.about .about-text h3 {
  color: var(--blue-two);
  font-size: 1.5em;
  margin-bottom: 1em;
}

.about .about-text p {
  color: var(--text-color);
  font-size: 1em;
  margin-bottom: 1em;
}

.about .about-text ul {
  line-height: 25px;
}

.about .about-leader {
  margin-top: 2em;
}

.about .about-leader h3 {
  font-size: 1.5em;
  color: var(--blue-two);
  margin-bottom: 1em;
}

.about .about-leader .img-leader {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.about .about-leader .img-leader img {
  border-radius: 5px;
  width: 200px;
}

.about .about-leader .text-info .biodata h4 {
  font-size: 1.2em;
  color: var(--text-color);
  margin-bottom: 1em;
}

.about .about-leader .text-info .biodata p {
  color: var(--text-color);
  margin-bottom: 0.5em;
}

.about .about-leader .text-info .biodata ul {
  color: var(--text-color);
  margin-bottom: 2em;
  line-height: 27px;
}
/* End About */

/* Layanan */
.layanan h2 {
  text-align: center;
  color: var(--blue-one);
  margin-bottom: 3em;
  font-size: 1.8em;
}

.layanan .layanan-left .moto h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-left .moto p {
  color: var(--text-color);
  margin-bottom: 1em;
}

.layanan .layanan-left .moto a {
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--blue-four);
  background-color: var(--text-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9em;
  margin-bottom: 2em;
}

.layanan .layanan-left .moto a:hover {
  background-color: var(--blue-theree);
  color: var(--text-color);
  margin-bottom: 2em;
}

.layanan .layanan-left .accordion {
  width: 100%;
  margin-bottom: 1.5em;
}

.layanan .layanan-left .accordion a {
  color: var(--blue-four);
}

.layanan .layanan-left .accordion .accordion-item {
  background-color: #132d62;
  color: var(--blue-four);
  margin: 1em 0;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-header::after {
  content: '\002B';
  font-size: 2em;
  position: absolute;
  right: 1em;
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-header.active::after {
  content: '\2212';
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.layanan .layanan-left .accordion .accordion-item .accordion-item-body .accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.layanan .layanan-left .accordion h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-right h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-right .transportasi-rute .rute-jadwal a {
  color: var(--text-color);
  font-size: 1em;
  margin: 5px;
  font-weight: 500;
  transition: all 1s ease-in-out;
}

.layanan .layanan-right .transportasi-rute .rute-jadwal a:hover {
  color: var(--blue-one);
}

.layanan .layanan-right .transportasi-rute .rute-jadwal {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.layanan .layanan-right .transportasi-rute .rute-map {
  margin-bottom: 2em;
}

iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.layanan .layanan-right .transportasi-rute .rute-book h3 {
  font-size: 1.3em;
  color: var(--blue-two);
  margin-bottom: 0.5em;
}

.layanan .layanan-right .transportasi-rute .rute-book .book {
  margin-bottom: 2em;
}

.layanan .layanan-right .transportasi-rute .rute-book .book h5 {
  color: var(--text-color);
  font-size: 0.95em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.layanan .layanan-right .transportasi-rute .rute-book .book a {
  color: red;
  margin: 0;
}

/* Layanan */

/* Berita */
.berita h2 {
  text-align: center;
  color: var(--blue-one);
  margin-bottom: 3em;
  font-size: 1.8em;
}

.berita .category-berita {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.berita .category-berita .berita-card {
  background-color: var(--blue-one);
  width: 70%;
  border-radius: 5px 5px 0 0;
}

.berita .category-berita .berita-card .card-up img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.berita .category-berita .berita-card .card-text {
  padding: 20px;
}

.berita .category-berita .berita-card .card-text .judul-berita {
  color: var(--blue-four);
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 0.5em;
  font-weight: 400;
  letter-spacing: 1px;
}

.berita .category-berita .berita-card .card-text .penulis-berita {
  color: var(--text-color);
  font-size: 0.85em;
  margin-bottom: 1.5em;
}

.berita .category-berita .berita-card .card-text .info-berita {
  color: var(--blue-four);
  font-size: 0.75em;
  margin-bottom: 2em;
  letter-spacing: 1px;
  line-height: 17px;
}

.berita .category-berita .berita-card .card-text a {
  display: inline-block;
  padding: 0.8em 0.8em;
  background-color: var(--blue-four);
  border-radius: 5px;
  font-size: 0.85em;
  color: var(--text-color);
  transition: all 0.5s ease-in;
}

.berita .category-berita .berita-card .card-text a:hover {
  background-color: var(--text-color);
  color: var(--blue-four);
}
/* Berita */

/* Contact */
.contact h2 {
  font-size: 1.8em;
  color: var(--blue-one);
  text-align: center;
  margin-bottom: 3em;
}

.contact .contact-social {
  margin-bottom: 3em;
}

.contact .contact-social .social-link {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 0 0 1.6em 0;
}

.contact .contact-social .social-link a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--blue-one);
  text-align: center;
  font-size: 1em;
  color: var(--blue-four);
  transition: all 0.3s ease-in-out;
}

.contact .contact-social .social-link a:hover {
  background-color: var(--blue-two);
  color: var(--text-color);
}

.contact .contact-social .social-link .social-text {
  color: var(--text-color);
}

.contact .contact-social .social-link .social-text h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.contact .contact-social .social-link .social-text p {
  font-size: 0.8em;
  color: var(--text-color);
}

.contact .contact-suggest form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact .contact-suggest form .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.contact .contact-suggest form .input-group label {
  color: var(--text-color);
  font-size: 1em;
  font-weight: bold;
}

.contact .contact-suggest form .input-group input,
.contact .contact-suggest form .input-group textarea {
  border: 2px solid var(--blue-one);
  padding: 1em;
}

.contact .contact-suggest form button {
  width: 10em;
  padding: 0.8em 0.5em;
  background-color: var(--blue-one);
  color: var(--blue-four);
  font-weight: 400;
  border: none;
  border-radius: 5px;
}

footer {
  padding: 3em 2em;
  width: 100%;
  text-align: center;
  background-color: var(--blue-one);
}

footer p {
  color: var(--blue-four);
  font-size: 0.9em;
}
/* Contact */

@media only screen and (min-width: 627px) {
  .berita .category-berita .berita-card {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .navbar .container .mobile-menu,
  .navbar .container nav .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar .container nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: none;
    position: unset;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .navbar .container nav ul {
    display: flex;
    margin: 0;
    margin-left: auto;
  }

  .navbar .container nav ul li a {
    color: var(--blue-four);
    font-size: 1.1em;
    padding: 0.1em 1em;
  }

  .home .home-img img {
    width: 50%;
  }

  .berita .category-berita .berita-card {
    width: 50%;
  }

  .contact .contact-suggest form .input-group input,
  .contact .contact-suggest form .input-group textarea {
    width: 70%;
  }

  .layanan .layanan-left .accordion {
    width: 70%;
  }
}

@media only screen and (min-width: 961px) {
  .berita .category-berita {
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    justify-content: space-between;
  }

  .berita .category-berita .berita-card {
    width: 260px;
  }

  .contact .contact-container {
    display: flex;
    justify-content: space-between;
  }

  .contact .contact-suggest {
    width: 60%;
  }

  .contact .contact-suggest form .input-group input,
  .contact .contact-suggest form .input-group textarea {
    width: 100%;
  }

  .berita .category-berita .berita-card {
    width: 31%;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }

  .home {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    text-align: start;
  }

  .home .home-text {
    width: 50%;
  }

  .home .home-img {
    margin: 0;
    width: 50%;
    text-align: end;
  }

  .home .home-img img {
    width: 320px;
  }

  .home .home-text h1 {
    margin-bottom: 1.2em;
  }

  .home .home-text p {
    margin-bottom: 3em;
  }

  .about .about-container {
    display: flex;
    justify-content: space-between;
  }

  .about .about-text {
    width: 40%;
  }

  .about .about-leader {
    width: 50%;
    margin-top: 0;
  }

  .about .about-leader h3 {
    font-size: 1.5em;
    color: var(--blue-two);
    margin-bottom: 1em;
  }

  .about .about-leader .img-leader img {
    width: 210px;
  }

  .layanan .layanan-container {
    display: flex;
    justify-content: space-between;
  }

  .berita .category-berita .berita-card {
    width: 32%;
  }

  .about .about-leader .text-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .about .about-leader .img-leader {
    justify-content: start;
  }
}
